<article *ngIf="section">
  <header><h2>{{section.name}}</h2></header>
  <section>
  <ul>
    <li>Location: {{section.location}}</li>
    <li>Volume: {{section.volume}}</li>
    <li>ID: {{section.id}}</li>
  </ul>
  </section>
<!--  <section>
    <a [routerLink]="['/sections', section.id, 'edit']">Edit</a>
    <button (click)="onDelete(section)">Delete</button>
  </section>-->
<!--okTODO szczegóły kategorii-->
<!--okTODO lista elementów-->
  <section *ngIf="section" routerLink="sections/:id/instruments" routerLinkActive>
  <app-instrument-list section="{{section.id}}">
  </app-instrument-list>
  </section>
  <!--  <app-instrument-list [sectionid]=section.id>
  </app-instrument-list>-->
  <!--  <app-instrument-list section='{{section.id}}'>
  </app-instrument-list>-->
<!--TODO nowy element-->
<!--okTODO edytuj element-->
<!--okTODO usuń element-->
<!--okTODO szczegóły elementu-->
</article>
