<article *ngIf="section">
  <header><h2>{{section.name}}</h2></header>
  <ul>
    <li>Location: {{section.location}}</li>
    <li>Volume: {{section.volume}}</li>
    <li>ID: {{section.id}}</li>
  </ul>
<!--okTODO szczegóły kategorii-->
<!--TODO lista elementów-->
  <app-instrument-list sectionid="{{section.id}}">
  </app-instrument-list>
  <!--  <app-instrument-list [sectionid]=section.id>
  </app-instrument-list>-->
  <!--  <app-instrument-list section='{{section.id}}'>
  </app-instrument-list>-->
<!--TODO nowy element-->
<!--TODO edytuj element-->
<!--TODO usuń element-->
<!--TODO szczegóły elementu-->
</article>
