<article class="text--justified">
  <header>
    <h2>Instruments</h2>
    <h3 *ngIf="instruments">{{instruments.description}} {{instruments.instruments.length}}</h3>
  </header>
  <table *ngIf="instruments">
    <thead *ngIf="instruments.instruments">
    <tr>
      <th>Instrument</th>
      <!--      <th>View</th>-->
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody *ngIf="instruments">
    <tr *ngFor="let instrument of instruments.instruments">
      <td><a [routerLink]="['/sections', section, 'instruments', instrument.id]">{{instrument.name}}</a>
      </td>
      <!--      <td>
              <a [routerLink]="['/instruments', instrument.id]">View</a>
            </td>-->
      <td>
        <!--        <a [routerLink]="['/instruments', instrument.id, 'edit']">Edit</a>-->
                <a [routerLink]="['/sections', section, 'instruments', instrument.id, 'edit']">Edit</a>
<!--        edit-->
      </td>
      <td>
        <button (click)="onDelete(instrument)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
<a [routerLink]="['/sections', section, 'instruments', undefined, 'edit']"Add></a>
</article>
