<article *ngIf="instrument">
  <header><h2>{{instrument.name}}</h2></header>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            Section
          </div>
          <div class="col-6">
            <span>{{instrument.section.id}}</span>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-6">
            Year of production
          </div>
          <div class="col-6">
            <span>{{instrument.production_year}}</span>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-6">
            ID
          </div>
          <div class="col-6">
            <span>{{instrument.id}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</article>
