<article>
  <header><h2>Add instrument</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="this.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="production_year">Volume:</label>
          <input id="production_year" name="production_year" [(ngModel)]="this.production_year"/>
        </div>
      </div>
    </div>


    <span><br></span>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Add</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
